name: Release
on:
  push:
    tags:
      - "v*.*.*"
jobs:
  goreleaser:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      checks: read
    steps:
      - name: Check test status
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          success_count=$(gh api repos/${{ github.repository }}/commits/${{ github.sha }}/check-runs | \
          jq -r '[.check_runs[] | select(.name == "test" or .name == "live-test") | select(.conclusion == "success")] | length')

          if [[ $success_count -ge 2 ]]; then
            echo "All checks passed"
          else
            echo "Some checks failed or are not complete"
            exit 1
          fi
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.25
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HOMEBREW_TAP_GITHUB_TOKEN: ${{ secrets.HOMEBREW_TAP_GITHUB_TOKEN }}
